# PINN #1

## Import Relevant Packages

In [1]:
import pandas as pd
import sciann as sn
import numpy as np
from sklearn.preprocessing import MinMaxScaler

---------------------- SCIANN 0.6.1.1 ----------------------
For details, check out our review paper and the documentation at:
 +  "https://arxiv.org/abs/2005.08803",
 +  "https://www.sciann.com".

 Need support or would like to contribute, please join sciann`s slack group:
 +  "https://join.slack.com/t/sciann/shared_invite/zt-ne1f5jlx-k_dY8RGo3ZreDXwz0f~CeA"

## Load Data from Data Folder

In [2]:
import glob

df = pd.concat(map(pd.read_csv, glob.glob('/Users/prathiklolla/Documents/Research/Research/data/*.csv')))
df

       Qf  Time     X     Y         Alpha  Temp(degC)
0     520   0.0   0.5  2.00  2.671200e-07   20.000000
1     520   0.0   1.0  2.00  2.671200e-07   20.000000
2     520   0.0   1.5  2.00  2.671200e-07   20.000000
3     520   0.0   2.0  2.00  2.671200e-07   20.000000
4     520   0.0   2.5  2.00  2.671200e-07   20.000000
...   ...   ...   ...   ...           ...         ...
3095  600  15.0  50.0  1.92  9.769047e-01  160.016833
3096  600  15.0  50.0  1.94  9.769034e-01  160.013898
3097  600  15.0  50.0  1.96  9.769021e-01  160.011001
3098  600  15.0  50.0  1.98  9.769008e-01  160.008143
3099  600  15.0  50.0  2.00  9.768995e-01  160.005324

[170500 rows x 6 columns]

In [3]:
# Shuffle the data so it's easy for the model to learn
df = df.sample(frac=1).reset_index(drop=True)
df

         Qf  Time     X     Y         Alpha  Temp(degC)
0       540  12.5  50.0  1.22  9.300722e-01  129.828677
1       520  14.5  50.0  1.82  9.566642e-01  138.329819
2       500   3.5   5.0  2.00  1.455975e-01   53.728505
3       660   1.5   0.0  0.40  4.173274e-02   40.134129
4       560   0.0  29.5  0.00  2.672704e-07   20.010215
...     ...   ...   ...   ...           ...         ...
170495  500   1.5  38.5  2.00  3.163239e-02   35.156264
170496  520   9.5  24.0  2.00  7.791530e-01  105.570326
170497  600  13.0  38.0  1.00  9.627208e-01  146.959384
170498  680   4.5  17.5  2.00  3.759352e-01   77.954660
170499  660  12.0  35.5  2.00  9.641970e-01  151.161686

[170500 rows x 6 columns]

In [4]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Qf, Time, X, Y, Alpha, Temp(degC)]
Index: []

## Initialize MinMaxScaler

In [5]:
scaler = MinMaxScaler(feature_range = (0,1))

 ## Convert columns into NumPy Arrays and Scale Them

In [6]:
Q_np = df['Qf']
t_np = df['Time']
x_np = df['X']
y_np = df['Y']
alpha_np = df['Alpha']
temp_np = df['Temp(degC)']

In [7]:
Q_np = (Q_np.to_numpy().reshape(-1,1))
t_np = (t_np.to_numpy().reshape(-1,1))
x_np = (x_np.to_numpy().reshape(-1,1))
y_np = (y_np.to_numpy().reshape(-1,1))
alpha_np = (alpha_np.to_numpy().reshape(-1,1))
temp_np = (temp_np.to_numpy().reshape(-1,1))

## Define Inputs and Targets for PINN

In [8]:
# Define the necessary inputs and parameter using Variable and Parameter
t = sn.Variable('t')
x = sn.Variable('x')
y = sn.Variable('y')
Q = sn.Variable('Q')

# Define Neural Network Approximations
T = sn.Functional('T', [t,x,y,Q], 5*[20], 'tanh')
a = sn.Functional('a', [t,x,y,Q], 5*[20], 'tanh')

## Define Constants and PDEs

In [9]:
# Constants

H = 352.1 #1
A = 2e5 #2
E_a = 51100 #3 
n = 1.927 #4
p = 980 #5
c_p = 1440 #6
k = 1.8 #7
R = 8.314 #8
T_o = 20 #9
a_o = 0 #10
h = 1.8 #11

# PDEs
from sciann.utils.math import diff, sign, exp, pow

L1 = (k/(p*c_p))*diff(T, x, order=2) + (k/(p*c_p))*diff(T, y, order=2) + (H/c_p)*diff(a, t) - diff(T, t)
L2 = A*exp((-E_a/(R*T))*pow(1-a, n))*(1 + 0.36*a) - diff(a, t)

## Define Initial & Boundary Conditions

In [10]:
# t: [0,15]
# x: [0,50]
# y: [0,2]
# Q: [500,700]

tmin = 0
Xmin = 0
Xmax = 50
Ymin = 0
Ymax = 2

# Boundary Conditions
L3 = (k*diff(T, x))*(1-sign(x - Xmin)) + (h*T)*(1-sign(x - Xmin)) - (h*T_o)*(1-sign(x - Xmin))

L4 = (k*diff(T, x))*(1+sign(x - Xmax)) + (h*T)*(1+sign(x - Xmax)) - (h*T_o)*(1+sign(x - Xmax))

L5 = (k*diff(T, y))*(1-sign(y - Ymin)) + (h*T)*(1-sign(y - Ymin)) - (h*T_o)*(1-sign(y - Ymin))

L6 = (k*diff(T,y) - Q)*(1+sign(y - Ymax))

# Initial Conditions
L7 = (1-sign(t - tmin))*(T-20)

L8 = (1-sign(t - tmin))*(a)

L9 = sn.Data(T)

L10 = sn.Data(a)

## Build the Model

In [11]:
m = sn.SciModel([t,x,y,Q], [L1,L2,L3,L4,L5,L6,L7,L8,L9,L10])

In [12]:
h = m.train(
    [t_np, x_np, y_np, Q_np], 
    ['zeros','zeros','zeros','zeros','zeros','zeros','zeros','zeros', temp_np, alpha_np], 
    epochs=10000,
    batch_size=128,
    verbose = 0,
    shuffle=False)

Total samples: 170500
Batch size: 128
Total batches: 1333


Epoch 01007: ReduceLROnPlateau reducing learning rate to 0.0005000000237487257.

Epoch 02007: ReduceLROnPlateau reducing learning rate to 0.0002500000118743628.

Epoch 03007: ReduceLROnPlateau reducing learning rate to 0.0001250000059371814.

Epoch 04007: ReduceLROnPlateau reducing learning rate to 6.25000029685907e-05.

Epoch 05007: ReduceLROnPlateau reducing learning rate to 3.125000148429535e-05.

Epoch 06007: ReduceLROnPlateau reducing learning rate to 1.5625000742147677e-05.

Epoch 07007: ReduceLROnPlateau reducing learning rate to 7.812500371073838e-06.

Epoch 08007: ReduceLROnPlateau reducing learning rate to 3.906250185536919e-06.

Epoch 09007: ReduceLROnPlateau reducing learning rate to 1.9531250927684596e-06.

## Getting Test Data

In [30]:
test_df = pd.concat(map(pd.read_csv, glob.glob('/Users/prathiklolla/Documents/Research/Research/test_data/*.csv')))
test_df.head()

    Qf  Time    X    Y         Alpha  Temp(degC)
0  440   0.0  0.5  2.0  2.671200e-07        20.0
1  440   0.0  1.0  2.0  2.671200e-07        20.0
2  440   0.0  1.5  2.0  2.671200e-07        20.0
3  440   0.0  2.0  2.0  2.671200e-07        20.0
4  440   0.0  2.5  2.0  2.671200e-07        20.0

In [34]:
test_df = test_df.sample(frac=1).reset_index(drop=True)
test_df.head()

    Qf  Time     X     Y     Alpha  Temp(degC)
0  460  11.5  50.0  1.58  0.830216  107.533530
1  400   3.5   0.0  1.86  0.109182   46.883992
2  460   3.0   7.0  2.00  0.100896   46.869237
3  420   1.5   8.5  2.00  0.027619   32.718288
4  400   5.5   0.0  0.10  0.256219   60.686361

In [35]:
test_df[test_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Qf, Time, X, Y, Alpha, Temp(degC)]
Index: []

## Getting Predictions

In [36]:
Q_test_np = test_df['Qf']
t_test_np = test_df['Time']
x_test_np = test_df['X']
y_test_np = test_df['Y']
alpha_test_np = test_df['Alpha']
temp_test_np = test_df['Temp(degC)']

Q_test_np = (Q_test_np.to_numpy().reshape(-1,1))
t_test_np = (t_test_np.to_numpy().reshape(-1,1))
x_test_np = (x_test_np.to_numpy().reshape(-1,1))
y_test_np = (y_test_np.to_numpy().reshape(-1,1))
alpha_test_np = (alpha_test_np.to_numpy().reshape(-1,1))
temp_test_np = (temp_test_np.to_numpy().reshape(-1,1))

In [40]:
T_pred = T.eval([t_test_np, x_test_np, y_test_np, Q_test_np])
a_pred = a.eval([t_test_np, x_test_np, y_test_np, Q_test_np])

## Results

In [44]:
from sklearn.metrics import mean_squared_error as mse
import math
print('TEMPERATURE: ')
print('Test:  ', round(math.sqrt(mse(temp_test_np, T_pred)), 3))
print(' ')
print('ALPHA: ')
print('Test:  ', round(math.sqrt(mse(alpha_test_np, a_pred)), 3))

TEMPERATURE:
Test:   41.37

ALPHA:
Test:   0.341